<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="com.dji.archview"
    Publisher="CN=supra"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="20f31e84-3ec5-4825-9a20-df9c8c202ed2" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>DJI ArchView Client</DisplayName>
    <PublisherDisplayName>Joao Paulo Assumpcao</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="DJI_ArchView_Client.App">
      <uap:VisualElements
        DisplayName="DJI ArchView Client"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="DJI ArchView Client"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\splash_unnamed-930x450.png"/>
        <uap:LockScreen BadgeLogo="Assets\BadgeLogo.png"   Notification="badge"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient"/>
    <Capability Name="privateNetworkClientServer"/>
    <DeviceCapability Name="wiFiControl"/>
    <DeviceCapability Name="serialcommunication">
      <Device Id="vidpid:2ca3 001f">
        <Function Type="name:serialPort" />
      </Device>
    </DeviceCapability>
  </Capabilities>
</Package>